# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
*/env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Hydra
outputs/

# Hydra
outputs/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
examples/images
examples/images

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# DotEnv configuration
.env

# Database
*.db
*.rdb

# Pycharm
.idea

# VS Code
.vscode/

# Spyder
.spyproject/

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# exclude data from source control by default
sim/habitat-lab/data

# Mac OS-specific storage files
.DS_Store

# mypy
.mypy_cache/

# vim
*.swp

# habitat_baselines outputs
/videos
/train_dir
/tb
*.mp4
/sandbox
/plots/outputs
/wandb/
video_dir/**
video_*/

# Data and logs


# Training and configuration files

sim/habitat-lab/habitat-baselines/habitat_baselines/config/override/**
sim/habitat-lab/habitat-lab/habitat/config/benchmark/single_agent/override/
sim/habitat-lab/habitat-baselines/habitat_baselines/config/social_rearrange/override
sim/habitat-lab/habitat-mas/habitat_mas/data
sim/habitat-lab/tb
sim/habitat-lab/outputs
sim/habitat-lab/logs
# Scene and dataset files


# Scripts and configuration files
